html {
    font-family: sans-serif;
  }

h1 {

    color: rgb(45, 66, 189);

}

  body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    background-image: url('numbers.jpg');
  }

  .lastResult {
    color: white;
    padding: 3px;
  }

  #guess {
      background-color: white;
      border-radius: 20px;
  }